@font-face {
	font-family: "Spartan";
	src: url("./../fonts/League_Spartan/LeagueSpartan-Medium.ttf");
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "Spartan";
	src: url("./../fonts/League_Spartan/LeagueSpartan-Bold.ttf");
	font-weight: 700;
	font-display: swap;
}

:root {
	--accent-color: hsl(180, 29%, 50%);
	--accent-color-rgba: rgba(91, 164, 164, 0.25);
	--secondary-color: hsl(180, 8%, 52%);
	--ternary-color: hsl(0, 0%, 12%);
	--background: hsl(180, 52%, 96%);
	--filter-tablet: hsl(180, 31%, 95%);
}

* {
	font-family: "Spartan", sans-serif;
}
body {
	font-size: 15px;
	color: var(--accent-color);
	background-color: var(--filter-tablet);
	box-sizing: border-box;
	position: relative;
}
header {
	height: 10rem;
	background-image: url("./../images/bg-header-mobile.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: var(--accent-color);
}
button:hover {
	cursor: pointer;
}
// LAYOUT
main {
	width: 100%;
	margin: 0 auto;
	padding-top: 3rem;
	&.filtered-jobs {
		padding: unset;
		position: absolute;
		top: 80%;
	}
}
.filter-bar,
.listing {
	width: 80%;
	margin: 0 auto;
}
// END LAYOUT
.filter-bar,
.listing {
	border-radius: 6px;
	box-shadow: 1px 15px 1rem var(--accent-color-rgba);
}
// FILTER BAR
.filter-bar {
	background-color: white;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
	.filter-term {
		border-radius: 5px 0 0 5px;
	}
}
.filters-list {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 90%;
	align-items: center;
}
.filter {
	font-size: 1.1rem;
	display: flex;
	font-weight: 700;
	margin: 0.5rem;
}
.filter-term {
	background-color: var(--filter-tablet);
	padding: 0.5rem;
	height: 1rem;
	color: var(--accent-color);
}
.remove-filter {
	border-radius: 0 5px 5px 0;
	font-weight: 700;
}
.remove-filter:hover {
	background-color: var(--ternary-color);
	color: var(--background);
}
.remove-filter {
	background-color: var(--accent-color);
	background-repeat: no-repeat;
	background-image: url("./../images/icon-remove.svg");
	background-position: center;
	padding: 1rem;
	height: 1rem;
	width: 1rem;
}
.clear-filters {
	flex-basis: 10%;
	color: grey;
	font-weight: 700;
}
.clear-filters:hover {
	cursor: pointer;
	color: var(--accent-color);
	text-decoration: underline;
}
// END FILTER BAR
// SINGLE LISTING

// Add a colored left border for featured jobs
.featured-job {
	border-left: 5px solid var(--accent-color);
}
.listing {
	position: relative;
	min-height: 14rem;
	margin: 0 auto 2.5rem;
	background-color: white;
	padding: 1rem;
	header {
		background: none;
		height: unset;
		display: flex;
		flex-direction: column;
		padding: 1rem 0;
		border-bottom: 1px solid lightgray;
		& > div {
			width: 100%;
			min-height: 5rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
}
.company-logo {
	position: absolute;
	width: 2.5rem;
	top: -1.25rem;
	left: 1rem;
}
.company-name {
	margin-right: 1rem;
}
.tag {
	width: unset;
	margin-right: 0.5rem;
	padding: 0.4rem 0.5rem 0.2rem 0.5rem;
	text-transform: uppercase;
	font-size: 0.7rem;
	color: var(--background);
	border-radius: 20px;
}
.new-tag {
	background-color: var(--accent-color);
}
.featured-tag {
	background-color: var(--ternary-color);
}
.job-subtitle {
	display: flex;
	align-items: center;
	ul {
		display: flex;
	}
}
.job-position {
	font-size: 1rem;
	color: var(--ternary-color);
	font-weight: 700;
}
.job-meta {
	display: flex;
	color: grey !important;
	li {
		height: 1rem;
		font-size: 0.8rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.publication-date,
	.contract {
		margin-right: 0rem;
		background-size: 100%;
	}
	// Add decorative dot
	.publication-date::after,
	.contract::after {
		display: inline-block;
		background-image: url("./../../public/src/images/job-meta-circle.svg");
		background-position: center;
		background-repeat: no-repeat;
		content: "";
		width: 4px;
		height: 4px;
		margin: 0 0.5rem;
	}
}
.job-subtitle {
	order: 1;
}
.job-position {
	order: 2;
}
.job-meta {
	order: 3;
}
// DESCRIPTION
.keywords-list {
	display: flex;
	flex-wrap: wrap;
	padding-top: 0.5rem;
	justify-content: start;
	.filter-term {
		background-color: unset;
		padding: unset;
		margin: 0.5rem 1.5rem 0.5rem 0;
		height: fit-content;
		button {
			color: unset;
			background-color: var(--background);
			border-radius: 5px;
			padding: 0.5rem;
			line-height: unset;
			font-size: 1.05rem;
			&:hover {
				background-color: var(--accent-color);
				color: var(--background);
			}
		}
	}
}
// END DESCRIPTION
// END SINGLE LISTING

@media screen and (min-width: 1440px) {
	header {
		background-image: url("./../images/bg-header-desktop.svg");
	}
	// LAYOUT
	.filter-bar,
	.listing {
		width: 90%;
	}
	// END LAYOUT
	// SINGLE LISTING
	.listing {
		min-height: unset;
		display: flex;
		justify-content: space-between;
		header {
			flex-direction: row;
			border-bottom: unset;
			padding: unset;
			align-items: center;
		}
		& > div {
			min-height: 5rem;
		}
	}
	.company-logo {
		position: unset;
		width: 5.5rem;
		height: 5.5rem;
		padding: 1rem;
	}
	.job-position {
		font-size: 1.2rem;
		margin: 0.5rem 0;
	}
	.keywords-list {
		padding: unset;
		flex-wrap: wrap;
		align-items: center;
		li {
			margin: unset 1rem unset unset;
		}
	}
	// END SINGLE LISTING
}
